{% extends "mylitmus/base.html" %}

{% block topmenu %}
<!-- no topmenu on frontpage -->
{% endblock %}


{% block version %}
{% endblock %}

{% block content %}
<div id="about">
	<h3>Día de pruebas</h3>
	<p id="logo"><img src="/media/images/foxkeh.png" alt="Foxkeh's Logo"/></p>
	<p>Bienvenido al día de pruebas de las traducciones. Mediante esta herramienta podrás realizar diversas pruebas para comprobar e informar a los grupos de traducción de posibles fallos en los productos Mozilla.</p>
	<p>Solo necesitas descargar la versión que se indique en cada caso para poder comenzar. <strong>Es importante que leas <a href="{% url help %}">la página de ayuda</a> antes de realizar cualquier prueba.</strong></p>
	<p id="comenzar"><a href="{% url products %}" title="Comenzar a realizar las pruebas">Comenzar las pruebas</a></p>
</div>
{% endblock %}
